@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('http://code.ionicframework.com/assets/fonts/28882F_0_0.eot');
  src: url('http://code.ionicframework.com/assets/fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'), url('http://code.ionicframework.com/assets/fonts/28882F_0_0.woff') format('woff'), url('http://code.ionicframework.com/assets/fonts/28882F_0_0.ttf') format('truetype'); }

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('http://code.ionicframework.com/assets/fonts/28882F_1_0.eot');
  src: url('http://code.ionicframework.com/assets/fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'), url('http://code.ionicframework.com/assets/fonts/28882F_1_0.woff') format('woff'), url('http://code.ionicframework.com/assets/fonts/28882F_1_0.ttf') format('truetype'); }

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('http://code.ionicframework.com/assets/fonts/29CC36_0_0.eot');
  src: url('http://code.ionicframework.com/assets/fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'), url('http://code.ionicframework.com/assets/fonts/29CC36_0_0.woff') format('woff'), url('http://code.ionicframework.com/assets/fonts/29CC36_0_0.ttf') format('truetype'); }

/* Frieght Text Pro */
@font-face {
  font-family: 'FreightTextProBook-Regular';
  src: url('http://code.ionicframework.com/assets/fonts/29D26A_0_0.eot');
  src: url('http://code.ionicframework.com/assets/fonts/29D26A_0_0.eot?#iefix') format('embedded-opentype'), url('http://code.ionicframework.com/assets/fonts/29D26A_0_0.woff') format('woff'), url('http://code.ionicframework.com/assets/fonts/29D26A_0_0.ttf') format('truetype'); }

@font-face {
  font-family: 'FreightTextProMedium-Regular';
  src: url('http://code.ionicframework.com/assets/fonts/29D26A_1_0.eot');
  src: url('http://code.ionicframework.com/assets/fonts/29D26A_1_0.eot?#iefix') format('embedded-opentype'), url('http://code.ionicframework.com/assets/fonts/29D26A_1_0.woff') format('woff'), url('http://code.ionicframework.com/assets/fonts/29D26A_1_0.ttf') format('truetype'); }

body {
  font-family: Helvetica, arial, sans-serif;
  padding: 40px 0;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}

#improve {
  position: absolute;
  right: 45px;
  top: 45px;
  z-index: 2;
}

#sidebar li {
  list-style: none;
}
#sidebar li a {
  display: block;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
#sidebar .group {
  margin-top: 40px;
}
#sidebar .group > a {
  font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  margin-bottom: 10px;
  text-decoration: none;
}

#footer {
  margin-top: 20px;
  text-align: center;
}
#footer .container {
  border-top: 1px solid #eee;
  padding: 30px;
}

h1 code, h2 code, h3 code, h4 code, h5 code{

  text-transform: none
}

#angular2-version {
  font-style: italic;
  font-size: 10px;
  display: block;
  margin: 8px 0;
}
