
<div class="jumbotron">
<div class="container">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="tabChange(1)">Quick Changes</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="tabChange(2)">Implement</button>
  </div>
</div>
</div>
<div class="mrg-top"></div>
<div class="container " *ngIf="tabInd === 1">
    <Quick-changes-tab (goClicked)="goClicked1($event)"></Quick-changes-tab>
  </div>
<div *ngIf="tabInd === 2" >
  <implement-tab (goClicked)="goClicked1($event)"></implement-tab>
</div>
</div>
<div>
  <notification-comp [homeTab]="notificationData" ></notification-comp>
</div>
